@use '../../../styles/fonts.scss' as fonts;
@use '../../../styles/colors.scss' as colors;
@use '../../../styles/breakpoints.scss' as breakpoints;

.aboutMe {
  font-size: 2.2rem;
  color: colors.$black;
  font-family: fonts.$titleFont;

  display: flex;
  justify-content: center;
  width: 100%;

  margin-bottom: 20rem;

  &__body {
    text-align: center;
    align-items: center;
    max-width: 80rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 4.1rem;
    font-weight: 800;
  }

  &__subtitle {
    font-size: 2rem;
    line-height: 1.6;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  &__tab {
    cursor: pointer;
    &--active {
      color: colors.$red;
      text-decoration: colors.$red underline;
    }
  }

  &__custom-hr {
    height: 2px;
    width: 100%;
    background-color: #1d1c1c;
    margin: 20px 0;

    margin-top: 10rem;
  }

  &__education {
    &--footer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
    }
  }

  &__resume-button {
    width: 30%;

    margin-top: 2rem;
  }

  &__tabber {
    padding-top: 5rem;
  }

  &__tabberTitles {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    padding-bottom: 5rem;
  }
}
