:root {
  font-size: 62.5%;
  
  background-color: #242424;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

body {
  font-size: 62.5%;

  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem
}