@use '../styles/colors.scss' as colors;

:root {
  font-size: 62.5%;

  background-color: colors.$white;
  color: colors.$black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-size: 62.5%;

  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}
