$extraSmallDeviceSizeMin: 20em;
$smallDeviceSizeMin: 22.5em;
$mediumDeviceSizeMin: 48em;
$largeDeviceSizeMin: 64em;
$largestDeviceSizeMin: 80em;

@mixin from320 {
  @media (min-width: $extraSmallDeviceSizeMin) {
    @content;
  }
}

@mixin from360 {
  @media (min-width: $smallDeviceSizeMin) {
    @content;
  }
}

@mixin from768 {
  @media (min-width: $mediumDeviceSizeMin) {
    @content;
  }
}

@mixin from1024 {
  @media (min-width: $largeDeviceSizeMin) {
    @content;
  }
}

@mixin from1280 {
  @media (min-width: $largestDeviceSizeMin) {
    @content;
  }
}
