@use '../../styles/colors.scss' as colors;
@use '../../styles/fonts.scss' as fonts;
@use '../../styles/breakpoints.scss' as breakpoints;

.card {
  padding: 2rem 3.5rem;
  border-radius: 12px;
  background-color: colors.$lightGray;
  text-align: center;
  border: 2px solid colors.$black;
  display: flex;
  flex-direction: column;

  row-gap: 2rem;

  &__title {
    font-family: fonts.$titleFont;
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__description {
    font-family: fonts.$primaryFont;
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0;
  }

  &__stack {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  &__stack-icon {
    background-color: colors.$white;
    padding: 0.2rem;
    border-radius: 15px;
  }

  &__img {
    border-radius: 5px;
  }
}

@include breakpoints.from1280 {
  .card {
    &__img {
      width: 465px;
      height: 270px;
    }
  }
}
